In [26]:
!pip install pyspark
!pip install pandas

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
#Creating a session or an entry point for Spark SQL

from pyspark.sql import SparkSession
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

spark = SparkSession.builder.getOrCreate()

In [28]:
#create pyspark Dataframe from list of rows
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [29]:
#create pyspark Dataframe from explicit schema
df1 = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 20,32)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0,12)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 1,13))
], schema='a long, b double, c string, d date, e timestamp')
df1.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:20:32|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:12|
|  3|4.0|string3|2000-03-01|2000-01-03 12:01:13|
+---+---+-------+----------+-------------------+

In [30]:
#describe any dataframe
df.printSchema()
df1.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [31]:
#create pyspark Dataframe with explicit schema
df_2 = spark.createDataFrame([
    (1,'Aryan','Sharma',21,'Male'),
    (2,'Prashant','Joshi',24,'Male'),
    (3,'Tanu','Sharma',24,'Female'),
    (4,'Anand','Kashyap',25,'Male'),
    (5,'Yogesh','Sharma',20,'Male')
],schema = 'Roll_No int,First_name string,Last_name string,age int,Gender string')

df_2.show()
# show() function can be used to extract specific number of rows
df_2.show(1)

+-------+----------+---------+---+------+
|Roll_No|First_name|Last_name|age|Gender|
+-------+----------+---------+---+------+
|      1|     Aryan|   Sharma| 21|  Male|
|      2|  Prashant|    Joshi| 24|  Male|
|      3|      Tanu|   Sharma| 24|Female|
|      4|     Anand|  Kashyap| 25|  Male|
|      5|    Yogesh|   Sharma| 20|  Male|
+-------+----------+---------+---+------+

+-------+----------+---------+---+------+
|Roll_No|First_name|Last_name|age|Gender|
+-------+----------+---------+---+------+
|      1|     Aryan|   Sharma| 21|  Male|
+-------+----------+---------+---+------+
only showing top 1 row

In [32]:
# vertical attribute returns single row data into multiple rows by spliting the columns
df_2.show(1, vertical=True)
df_2.show(2, vertical=True)

-RECORD 0------------
 Roll_No    | 1
 First_name | Aryan
 Last_name  | Sharma
 age        | 21
 Gender     | Male
only showing top 1 row

-RECORD 0--------------
 Roll_No    | 1
 First_name | Aryan
 Last_name  | Sharma
 age        | 21
 Gender     | Male
-RECORD 1--------------
 Roll_No    | 2
 First_name | Prashant
 Last_name  | Joshi
 age        | 24
 Gender     | Male
only showing top 2 rows

In [33]:
# returning all the columns of pyspark dataframe df_2
df_2.columns

['Roll_No', 'First_name', 'Last_name', 'age', 'Gender']

In [34]:
#summary of data
df_2.select("Roll_No", "First_name", "Last_name").describe().show()

+-------+------------------+----------+---------+
|summary|           Roll_No|First_name|Last_name|
+-------+------------------+----------+---------+
|  count|                 5|         5|        5|
|   mean|               3.0|      NULL|     NULL|
| stddev|1.5811388300841898|      NULL|     NULL|
|    min|                 1|     Anand|    Joshi|
|    max|                 5|    Yogesh|   Sharma|
+-------+------------------+----------+---------+

In [35]:
# returning all the rows of df_2 (can cause out of memory if the database is too large)
df_2.collect()

[Row(Roll_No=1, First_name='Aryan', Last_name='Sharma', age=21, Gender='Male'),
 Row(Roll_No=2, First_name='Prashant', Last_name='Joshi', age=24, Gender='Male'),
 Row(Roll_No=3, First_name='Tanu', Last_name='Sharma', age=24, Gender='Female'),
 Row(Roll_No=4, First_name='Anand', Last_name='Kashyap', age=25, Gender='Male'),
 Row(Roll_No=5, First_name='Yogesh', Last_name='Sharma', age=20, Gender='Male')]

In [36]:
#to avoid out of memory exception we can use take() functions which returns required rows
df_2.take(2)

[Row(Roll_No=1, First_name='Aryan', Last_name='Sharma', age=21, Gender='Male'),
 Row(Roll_No=2, First_name='Prashant', Last_name='Joshi', age=24, Gender='Male')]

In [37]:
#to return rows from the end of the dataframe
df_2.tail(2)

[Row(Roll_No=4, First_name='Anand', Last_name='Kashyap', age=25, Gender='Male'),
 Row(Roll_No=5, First_name='Yogesh', Last_name='Sharma', age=20, Gender='Male')]

In [38]:
#convert pyspark dataframe to pandas dataframe
df_2.toPandas()

   Roll_No First_name Last_name  age  Gender
0        1      Aryan    Sharma   21    Male
1        2   Prashant     Joshi   24    Male
2        3       Tanu    Sharma   24  Female
3        4      Anand   Kashyap   25    Male
4        5     Yogesh    Sharma   20    Male